html {
	width: 100%;
	height: 100%;
	position: relative;
	background: black;
}

body {
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px;
}

.description {
	display: inline-block;
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: Arial;
	position:relative;
	top: 25%;
	transform: translateY(-50%) scale(0.75);
	padding: 0 10px;
}

.description.hide {
	/*opacity: 0;*/
	transition: opacity 2s, transform 2s;
	opacity: 0;
	transform: translateY(-50%) scale(1.25);
}

.bubble {
	background-color: black;
	border:2px solid white;
	width:15%;
	max-height: 50%;
	border-radius:50%;
	position: absolute;
	/* -moz-border-radius:50%;
	 -webkit-border-radius:50%;*/
	text-align: center;

	/*background: black;
	outline-color: white;
	width: 25%;
	max-height: 50%;
	border-radius: 50%;
	position:absolute;
	text-align: center;
	transition: opacity 2s;*/
}

.bubble:after{
	display: block;
	position: relative;
	padding-top: 100%;
	width: 100%;
	content: "";
}
.bubble--Dancer{
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
}

.bubble--TBD{
	background-image:url("jzProfile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top(20%);
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.bubble--Engineer{
	top: 50%;
	left: 10%;
	transform: translateY(-50%);

}

.bubble__text {
	color: white;
	width: 100%;
	font-size: 3vw;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
}

.bubble--hide{
	opacity:0;
}
